@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

body {
  background: black;
  color: white;
  font-size: 1.1rem; 
  font-family: 'Goudy Bookletter 1911', serif;
}